.app-content {
    background-color: #fff;
    margin: 0;
    border-radius: 15px;
    min-height: calc(100vh - 100px);
    padding: 20px;
}

html,
body {
    height: 100%;
    background-color: #f2f4f7;
}


.content {
    margin-left: 250px;
}

div.collapsed {
    margin-left: 65px;
}

:root {
    --block-spacing-vertical: 0rem !important;
    --el-header-padding: 0px !important;

}

a {
    text-decoration: none;
}

.el-header {
    padding: 0;

}

.el-menu {
    border-right: 0px !important;

}

div,
section {
    margin-bottom: 0px;
    box-sizing: border-box;
}