.app-content {
  margin: 0;
  background-color: white;
  border-radius: 15px;
  min-height: calc(100vh - 100px);
  padding: 20px;
}

div,
section {
  margin-bottom: 0px;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  background-color: #f2f4f7;
  --block-spacing-vertical: 0rem !important;
  --el-header-padding: 0px !important;
}

.content {
  margin-left: 250px;
}

a {
  text-decoration: none;
}

.el-header {
  padding: 0 !important;
}

.el-menu {
  border-right: 0px !important;
}

div,
section {
  margin-bottom: 0px;
  box-sizing: border-box;
}
