[[source]]
name = "pypi"
verify_ssl = true
url = "https://pypi.douban.com/simple/"

[packages]
ruia = ">=0.8.3"
ruia-ua = "*"
xmltodict = "*"
numpy = "*"
schedule = "*"
jieba = "*"
ujson = "*"
textrank4zh = "*"
pypinyin = "*"
readability-lxml = "*"
html2text = "*"
requests = "*"
scipy = "*"
playwright = "*"
flask = "2.0.2"
gunicorn = "==20.1.0"
gevent = "==21.12.0"
feedgen = "*"
pygithub = "*"
pymongo = "*"

[dev-packages]
black = "*"
isort = "*"
pylint = "*"
pandas = "*"
pytest = "*"

[scripts]
dev_schedule = "bash ./dev_schedule.sh"
pro_schedule = "bash ./pro_schedule.sh"
