[[source]]
name = "pypi"
verify_ssl = true
url = "https://pypi.douban.com/simple/"

[packages]
ruia = "*"
ruia-motor = "*"
xmltodict = "*"
newspaper3k = "*"
numpy = "*"
schedule = "*"
flask = "*"

[dev-packages]
black = "*"
isort = "*"
pylint = "*"
