<html lang="zh-Hans" data-darkmode="auto">

<head>
    <link href="https://cdn.jsdelivr.net/gh/howie6879/oss/css/ll_owllook_content.css" rel="stylesheet">
    <link rel="shortcut icon" href="https://cdn.jsdelivr.net/gh/howie6879/oss/uPic/favicon_liuli.ico" type="image/x-icon">
    <title>${html_title}</title>

<body>
    <main class="container all-content">
        <article class="article heti">
            <div class="title">
                <h2 class="article__title" id="content_name">${article_title}</h2>
            </div>
            <div class="show-content">
                ${article_content}
            </div>
        </article>
    </main>
</body>

</html>